# Requirements.txt
# This file is used by pip to install all of the python packages required for the project

# dash framework
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-cytoscape==0.3.0
pandas==1.5.2
plotly==5.11.0
lorem==0.1.1

# treelib 
treelib==1.5.5

#GraphViz Python Wrapper
graphviz==0.20.1
